header {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  color: blue; 
  background-color: #EBEBEB;
  font-size: 30px;
       }
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #FFFAFF;
  color: blue;
  font-weight: bolder;
  font-size: 25px;
   }
h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  color: blue;
  font-size: 25px;
   }
h3 {
font-family: "Lucida Console", "Courier New", monospace;
font-weight: bolder;
color: blue;
font-size: 25px;
   }
body {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  background-color: #FFFAFF;
     }
h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: blue;
  text-align: left;
  font-style: italic;
   }
h6 {
  font-family: "Lucida console". "Courier New", monospace;
  font-weight: bolder;
  color: blue; 
  font-size: 25px;
   }
img {
  border-style: solid;
  border-width: 3px;
    }

img {
  src= "18557.jpeg" 
    }
