header {
  font-family: "Lucida Console", "Courier New", monospace;
  color:#B6820A
  background-color: #EBEBEB;
       }
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #FFFAFF;
   }
h2 {
  font-family: "Lucida Console", "Courier New", monospace;
   }
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #FFFAFF;
     }
